.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6，p, ul, a{
font-family: 'Open Sans', sans-serif;
}


p{
font-family: 'Open Sans', sans-serif;
}

/*navbar*/

.navbar-fixed-top{
 border-color:#FFF;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
 max-height: 50px;
/*z-index: 1;
*/
}

.navbar-header{
  position: fixed;
  width: 200px;
  text-align: center;
  background-color: #EA5E4C;
}


.navbar-inverse .navbar-brand p {
  color: #fff;
  margin-left:70px;
}

.form-control {
  height: 30px;
  border-radius: 50px;
}

.navbar-fixed-bottom{
border-width: 0 0 0px;
}

.navbar{
 background: #FFFFFF;
}

#navsearch .form-control{
  background-position: 7px 50%;
  background-repeat: no-repeat;
    background-image: url("/images/icons/search.svg");
    padding: 6px 30px;
}

.navbar-nav{
  float: right;
  margin-right: 20px;
}



/*----------06.13-----------------------------------------------------------*/
.navbar-nav>li{
  padding-top: 5px;
  padding-left: 30px;
}

.nav>li>a {
  padding: 4px 15px;
}

.location{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/location.svg) no-repeat center center;
  background-size: 18px 26px;
}

.chat{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/chat.svg) no-repeat center center;
  background-size: 29px 19px;
}
.activity{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/activity.svg) no-repeat center center;
  background-size: 23px 20px;
}


/*left menu icon*/
.fahrplan{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/fahrplan.svg) no-repeat center center;
  background-size: 19px 14px;
  opacity: 0.4;
}

.dienstplan{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/dienstplan.svg) no-repeat center center;
  background-size: 15px 17px;
  opacity: 0.4;
}
.stammdaten{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/stammdaten.svg) no-repeat center center;
  background-size: 16px 16px;
  opacity: 0.4;
}

.abrechnung{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/abrechnung.svg) no-repeat center center;
  background-size: 15px 17px;
  opacity: 0.4;
}
.statistik{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/statistik.svg) no-repeat center center;
  background-size: 17px 16px;
  opacity: 0.4;
}
.einstellung{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/einstellung.svg) no-repeat center center;
  background-size: 18px 18px;
  opacity: 0.4;
}





/*----------06.13-----------------------------------------------------------*/

.search{
  float: left;
  position: relative;
  width: 300px;
  margin: 10px 8px 0 215px;
}

.btn-primary {
  color: #fff;
  background-color: #EA5E4C;
  border:none;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #C44938;
  border:none;
}



/*left-menu*/
.left-menu{
  position: fixed;
  float: left;
  background-color: #333344;
  width: 200px;
  z-index: 1000;
  height: 100%;
}

.left-menu ul {
  margin-left: 15px;
  margin-top: 20px;
  color:#fff;
}


/*----------06.13-----------------------------------------------------------*/
.left-menu a{
  color:#70707C;
  padding-left: 10px;
  text-decoration: none;
  vertical-align:middle;
  line-height:27px

}
/*----------06.13-----------------------------------------------------------*/

.left-menu-active{

}

.left-menu-active a{
  color:#fff;
  font-weight: 400;
  opacity: 1;
}

.icon-active{
  opacity: 1;
}

.choose-field{

}

.left-menu li {
  padding-top:40px;
}

.left-menu p{

}

.list{
 float: left;
}

.setting{
position:absolute;
bottom:70px;
}


.container{
  width: 100%;
}
.container-fluid{
  padding-right:15px;padding-left:15px;margin-right:10px;margin-left:10px;
}


/*----------06.13-----------------------------------------------------------*/

.container{
  padding-right: 0px;
  padding-left: 0px;

}


.right-menu-fahrplan a{
  text-decoration: none;
  color: #515151;
}

.right-menu-fahrplan{
  position: relative;
  float: right;
  width: 240px;
  height: 100%;
  z-index: 1001;
  background-color: #F5F5F5;
  box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.15);
}

.right-menu-search{
  width: 230px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 6px;
  margin-left: 6px;
}

.rightmenu-search{
  border-radius: 50px;
  text-align: center;
}

body{
  font-size: 13px;
}

h5{
  font-size: 13px;
}
h5 small{
  font-size: 100%;
  color: #EA5E4C;
  font-weight: 400;
}
.right-menu-title{
  width: 230px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.right-menu-title a{
  text-decoration: none;
  color: #4A4A4A;
}

.alle{
  float: right;
  margin-right: 10px;
  margin-top: -32px;
}

.unorgenized-fahrplan{
  margin-top: 40px;
  margin-left: 9px;
  margin-right: 9px;
}

.fahrplan-card{
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  width: 222px;
  height: 144px;
  margin-top: 10px;
  float: left;
}

.fahrplan-card a{
  color: #515151;
  text-decoration: none;

}

.fahrplan-card span{
  margin-left: 10px;
  margin-right: 4px;
}

.fahrplan-card p{
  line-height: 18px;
}

.fahrplan-card p small{
  color:#C4C5BE;
  font-size: 13px;
}

.card-content{
  margin-top: 10px;
}

.unorgenized-fahrplan>.datum{
  text-align: center;
  color: #C4C5BE;
}


/*table*/
.tablefahrplan{
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}



.passenger{
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url(/images/icons/passenger2.svg) no-repeat center center;
  background-size: 11px 14px;
}
.passenger2{
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url(/images/icons/passenger.svg) no-repeat center center;
  background-size: 11px 14px;
}


.fromto{
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 28px;
  background: url(/images/icons/fromto.svg) no-repeat center center;
  background-size: 8px 28px;
  margin-top: 5px;
}

.driver{
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url(/images/icons/driver.svg) no-repeat center center;
  background-size: 14px 14px;
}

.auto{
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url(/images/icons/auto.svg) no-repeat center center;
  background-size: 15px 11px;
}
/*----------06.13-----------------------------------------------------------*/
