body{
  padding-top: 3vh;
  font-size: 13px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6，p, ul, a{
  font-family: 'Open Sans', sans-serif;
}

/*navbar*/

.navbar-fixed-top{
  border-color:#FFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  max-height: 50px;
}

.navbar-header{
  position: fixed;
  width: 200px;
  text-align: center;
  background-color: #EA5E4C;
}


.navbar-inverse .navbar-brand p {
  color: #fff;
  margin-left:70px;
}

.form-control {
  height: 30px;
  border-radius: 50px;
}

.navbar-fixed-bottom{
  border-width: 0 0 0px;
}

.navbar{
 background: #FFFFFF;
}

#navsearch .form-control{
  background-position: 7px 50%;
  background-repeat: no-repeat;
  background-image: url("/images/icons/search.svg");
  padding: 6px 30px;
}

.navbar-nav{
  float: right;
  margin-right: 20px;
}

.navbar-nav li{
  padding-top: 5px;
  padding-left: 30px;
}

.nav li a {
  padding: 4px 15px;
}

.location{
  display: block;
  width: 40px;
  height: 40px;
  background: url(/images/icons/location.svg) no-repeat center center;
  background-size: 18px 26px;
}

.chat{
  display: block;
  width: 40px;
  height: 40px;
  background: url(/images/icons/chat.svg) no-repeat center center;
  background-size: 29px 19px;
}

.activity{
  display: block;
  width: 40px;
  height: 40px;
  background: url(/images/icons/activity.svg) no-repeat center center;
  background-size: 23px 20px;
}

.search{
  float: left;
  position: relative;
  width: 300px;
  margin: 10px 8px 0 215px;
}

.btn-primary {
  color: #fff;
  background-color: #EA5E4C;
  border:none;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #C44938;
  border:none;
}

.calendar {
  position: relative;
  top: 60px;
}
@import "left-panel";
@import "unorganised-panel";
