body{
  padding-top: 50px;
  font-size: 13px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6，p, ul, a{
  font-family: 'Open Sans', sans-serif;
}

/*navbar*/

.navbar-fixed-top{
  border-color:#FFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  max-height: 50px;
}

.navbar-header{
  position: fixed;
  width: 200px;
  text-align: center;
  background-color: #EA5E4C;
}


.navbar-inverse .navbar-brand p {
  color: #fff;
  margin-left:70px;
}

.form-control {
  height: 30px;
  border-radius: 50px;
}

.navbar-fixed-bottom{
border-width: 0 0 0px;
}

.navbar{
 background: #FFFFFF;
}

#navsearch .form-control{
  background-position: 7px 50%;
  background-repeat: no-repeat;
    background-image: url("/images/icons/search.svg");
    padding: 6px 30px;
}

.navbar-nav{
  float: right;
  margin-right: 20px;
}



/*----------06.13-----------------------------------------------------------*/
.navbar-nav li{
  padding-top: 5px;
  padding-left: 30px;
}

.nav li a {
  padding: 4px 15px;
}

.location{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/location.svg) no-repeat center center;
  background-size: 18px 26px;
}

.chat{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/chat.svg) no-repeat center center;
  background-size: 29px 19px;
}
.activity{
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/images/icons/activity.svg) no-repeat center center;
  background-size: 23px 20px;
}


/*left menu icon*/
.fahrplan{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/fahrplan.svg) no-repeat center center;
  background-size: 19px 14px;
  opacity: 0.4;
}

.dienstplan{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/dienstplan.svg) no-repeat center center;
  background-size: 15px 17px;
  opacity: 0.4;
}
.stammdaten{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/stammdaten.svg) no-repeat center center;
  background-size: 16px 16px;
  opacity: 0.4;
}

.abrechnung{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/abrechnung.svg) no-repeat center center;
  background-size: 15px 17px;
  opacity: 0.4;
}
.statistik{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/statistik.svg) no-repeat center center;
  background-size: 17px 16px;
  opacity: 0.4;
}
.einstellung{
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background: url(/images/icons/einstellung.svg) no-repeat center center;
  background-size: 18px 18px;
  opacity: 0.4;
}

/*----------06.13-----------------------------------------------------------*/

.search{
  float: left;
  position: relative;
  width: 300px;
  margin: 10px 8px 0 215px;
}

.btn-primary {
  color: #fff;
  background-color: #EA5E4C;
  border:none;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #C44938;
  border:none;
}

/*left-menu*/
.left-menu{
  position: fixed;
  float: left;
  background-color: #333344;
  width: 200px;
  z-index: 1000;
  height: 100%;
}

.left-menu ul {
  margin-left: 15px;
  margin-top: 20px;
  color:#fff;
}


/*----------06.13-----------------------------------------------------------*/
.left-menu a{
  color:#70707C;
  padding-left: 10px;
  text-decoration: none;
  vertical-align:middle;
  line-height:27px

}
/*----------06.13-----------------------------------------------------------*/

.left-menu-active a{
  color:#fff;
  font-weight: 400;
  opacity: 1;
}

.icon-active{
  opacity: 1;
}

.left-menu li {
  padding-top:40px;
}

.list{
 float: left;
}

.setting{
  position:absolute;
  bottom:70px;
}
.container{
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}

@import "unorganised-panel"
